<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign In - %APPNAME%</title>
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../src/css/indexStyle.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  <main class="context-box">
    <div class="navbar-box">
      <div class="logo"><img src="../src/images/logo.png" alt="logo" height="45"></div>
      <nav id="navbar">
        <ul>
          <li><a class="navlink"><ion-icon name="home"></ion-icon>INICIO</a></li>
          <li><a class="navlink"><ion-icon name="search"></ion-icon>BUSCAR</a></li>
          <li><a class="navlink"><ion-icon name="attach"></ion-icon>ULTIMO AGREGADO</a></li>
          <li><a class="navlink"><ion-icon name="alarm"></ion-icon>POR VENCER</a></li>
          <li><a class="navlink"><ion-icon name="apps"></ion-icon>CATEGORIAS</a></li>
          <li><a class="navlink"><ion-icon name="people"></ion-icon>USUARIOS</a></li>
          <li><a class="navlink"><ion-icon name="log-out"></ion-icon>CERRAR SESION</a></li>
        </ul>
      </nav>
      <div class="menu-toggle"><ion-icon name="menu"></ion-icon></div>
    </div>


    <footer class="footer">

    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="../src/js/loginscript.js"></script>
  </main>
</body>
</html>