<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign In - Never Expired</title>
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../src/css/loginStyle.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    
  <main class="context-box">
    <header>
        <h1>Never Expired</h1>
        <h3>Controla el flujo de entrada y salida de tus productos eficazmente</h3>
    </header>
    <div class="container">
      <section class="login-container">
        <div class="login-title">
          Iniciar Sesión
        </div>
        <div class="top-box">
  
          <div class="photo-box">
              <img src="../src/images/contact.png" alt="" width="200">
          </div>
        </div>
  
        <form class="bottom-box">
  
          <label for="">Nombre de usuario</label>
          <input type="text" name="user" id="username" placeholder="Ingrese su usuario">
          <label for="">Contraseña</label>
          <input type="password" name="pass" id="password" placeholder="**************">
  
          <button type="button">Sign In <ion-icon name="log-in"></ion-icon></button>
        </form>
      </section>
    </div>
    
    <footer class="footer">
      <section>
        <h2>Contacto</h2>
        <label>Diseñado y desarrolado por: <ion-icon name="logo-facebook"></ion-icon><a href="https://www.facebook.com/Tetsuryuuken" class="producer" target="_blank">Jhull Rondon</a></label>
        <label for=""><ion-icon name="mail"></ion-icon> Email: <a href="mailto:rondonjhull@gmail.com%20Subject" target="_top">rondonjhull@gmail.com</a>

        </label>
      </section>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="../src/js/navbar.js"></script>
  </main>
</body>
</html>